<div class="wrapper animated fadeIn" style="display: none">
  <h2></h2>
  <p class="intro">Where does your rep stand?</p>
  <form id="campaign-zero-form">
    <input autocomplete="off" type="text" name="location" id="zip-code" placeholder="Enter your Zip Code" minlength="5" maxlength="5" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"  onfocus="this.placeholder=''" onblur="this.placeholder='Enter your Zip Code'">
    <small class="note"></small>
    <button class="submit" type="submit"></button>
  </form>
  <small class="powered-by">
    <span>Powered by </span>
    <a href="http://www.joincampaignzero.org" target="_blank">Campaign Zero</a>
  </small>
  <a class="add-to-site" href="https://github.com/campaignzero/campaign-zero-widget/blob/master/README.md" target="_blank">
    Add <span>this</span> to <span>your</span> site
  </a>
</div>
