<div class="wrapper text-center representative" style="min-height: 343px; background: center center no-repeat; background-size: cover;">
  <div class="summary-name"></div>
  <div class="summary-details">
    <strong><span class="party"></span></strong>
    <strong class="district-label">District:</strong> <span class="district"></span>
    <strong class="chamber-label">Chamber:</strong> <span class="chamber"></span>
  </div>
  <div>
    <div class="avatar large animated flipInY" id="rep-image"></div>
  </div>
  <div class="action-buttons">
    <a href="javascript:void(0)" class="action-button widget-modal-phone">
      <i class="fa fa-phone"></i>
    </a>

    <a href="javascript:void(0)" target="_blank" class="action-button widget-map">
      <i class="fa fa-map-marker"></i>
    </a>
    <a href="https://twitter.com/intent/tweet?text=Learn%20where%20your%20representatives%20stand%20on%20police%20violence%20and%20demand%20action%20now!%20http://JoinCampaignZero.org/action&hashtags=CampaignZero" target="_blank" rel="noopener" class="action-button">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.joincampaignzero.org/action&description=Learn%20where%20your%20representatives%20stand%20on%20police%20violence%20and%20demand%20action%20now!%20JoinCampaignZero.org" target="_blank" rel="noopener" class="action-button">
      <i class="fa fa-facebook-official"></i>
    </a>
    <a href="javascript:void(0)" class="action-button widget-modal-email">
      <i class="fa fa-envelope"></i>
    </a>
  </div>
  <div id="widget-bill-results"></div>
</div>

<div class="widget-modal">
  <a href="javascript:void(0)" class="widget-modal-close"><i class="fa fa-times-circle"></i></a>
  <div class="widget-modal-phone widget-modal-content">
    <h1>Call <strong><span class="full_name"></span></strong> and demand action:</h1>
    <div class="phone-numbers"></div>
  </div>
  <div class="widget-modal-email widget-modal-content">
    <h1>Email <strong><span class="full_name"></span></strong> and demand action:</h1>
    <div class="email-addresses"></div>
  </div>
</div>

<small class="powered-by back">
  <a href="javascript:void(0);">
    <i class="fa fa-angle-left"></i>&nbsp; Back
  </a>
</small>
